* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-color:  #1B262C;
    padding-top: 1rem;
}

/* @media (max-width: 990px) {
    img{
        height: 350px;
    width: 350px;
    border-radius: 10%;
    object-fit: cover;

    }
  }
  @media (max-width: 500px) {
    img{
        height: 200px;
    width: 200px;
    border-radius: 10%;
    object-fit: cover;

    }
  } */
.heading{
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    color: white;
    margin:0;
}
span{
    color: #3282B8;
}
.swiper-pagination{
    position: relative;
    margin-bottom: 2rem;
    /* bottom: 0; */
}
.swiper-pagination-bullet{
    background-color: rgb(255, 255, 255);
    transition: 200ms ease-out;
    /* margin-bottom: 5rem; */
}
.swiper-pagination-bullet:hover{
    transform: scale(1.5);
}
.swiper-pagination-bullet-active{
    background-color: #2a87c6    ;
}
.swiper-wrapper{
    margin-bottom: 4rem;
}
.info{
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.368);
    margin: 0 auto;
    z-index: 100;
    top: 0;
    transition: ease-out;
    transition-duration: 300ms;
}
.info:hover{
    opacity: 1;
}
.info_heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin-top: 5%;
    color: #00064b;
    transition: 500ms ease-out;
}
/* @media (max-width: 990px) {
    .info{
        height: 350px;
    width: 350px;
    border-radius: 10%;
        
    }
  }
  @media (max-width: 500px) {
    .info{
        height: 200px;
    width: 200px;
    border-radius: 10%;

    }
  } */
  .info_data{
    position: absolute;
    font-size: 100%;
    padding: 5%;
    padding-bottom: 10%;
    font-weight: 600;
    bottom: 0;
    color: #000000;
  }
  
  .info a{
    position: absolute;
    padding: 3%;
    padding-top: 10%;
    color: #00064b;
    font-weight: 700;
    font-size: large;
    bottom: 0;
    right: 0;
  }
  .info a:hover{
    color: #0962e7;
  }
  .slider-arrow{
    font-size: small;
    font-weight: 900;
    background-color: aliceblue;
    padding: 2%;
    border-radius: 50%;
    border: #0962e7 solid 5px;
    transition: ease-in 200ms;
    opacity: 0.6;
    transform: scale(0.8);
  }
  .slider-arrow:hover{
    transform: scale(1);
    opacity: 1;
    border-color: #ffffff;
    background-color: #292828be;
    color: #f1ecec;
  }

  @media (max-width: 1000px) {
    .info_data{
        font-size: 50%;
        
    }
    .info_heading{
        font-size: large;
    }
    .info a{
        font-size: small;
    }
    .slider-arrow{
        padding: 5%;
        transform:scale(0.5) ;
    }
    .slider-arrow:hover{
        scale: 0.7;
    }
  }
  @media (max-width: 600px) {
    .info_data{
        font-size: 50%;
    }
    .info_heading{
        font-size: large;
        transform: translateY(-5px);
    }
    .info a{
        font-size: x-small;
    }
    .slider-arrow{
        padding: 8%;
        transform:scale(0.4) ;
    }
    .slider-arrow:hover{
        scale: 0.5;
    }
  }

.gallery_container{
    background:  #1B262C;

    margin: 0;
    padding-bottom: 3rem;
  }